* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

.container {
    padding: 0 7%;
}

#donate-area,
#donate-plan,
#image-gallery,
#my-update {
    padding: 110px 0;
}

.btn {
    text-decoration: none;
    background-color: #fc5c65;
    padding: 20px 30px;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}



#donate-area .container,
#donate-plan .container,
#image-gallery .container,
#my-update .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#donate-area .donate-content,
#image-gallery .image-content,
#my-update .my-update-content {
    text-align: center;
}

#donate-area .donate-content h2,
#donate-plan .donate-plan-content h2,
#image-gallery .image-content h2,
#my-update .my-update-content h2 {
    font-size: 50px;
}

#donate-area .donate-content p,
#donate-plan .donate-plan-content p,
#image-gallery .image-content p,
#my-update .my-update-content p {
    margin-top: 30px;
    font-size: 20px;
    color: #777;
}

/* Banner-Area */

#banner-area {
    min-height: 100vh;
    background-image: url(images/donation10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.795);
}

#banner-area .overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner-area .banner-content {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding: 100px 0;
}

#banner-area .banner-content h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 90px;

}

#banner-area .banner-content p {
    color: #fff;
    margin-top: 10px;
}

#banner-area .banner-content a {
    margin-top: 40px;
}

/* Donate Area */

/* #donate-area {} */




/* #donate-area .donate-content .donate-items {} */

#donate-area .donate-content .donate-items ul {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#donate-area .donate-content .donate-items ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 140px;
    background-color: #ddd;
    font-size: 35px;
    margin: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

#donate-area .donate-content .donate-items ul li:hover {
    border: 2px solid #fc5c65;
    background-color: #ffeeef;
    color: #fc5c65;
}

#donate-area .donate-content input {
    margin-top: 30px;
    display: block;
    width: 100%;
    border: none;
    text-align: center;
    border-bottom: 2px solid #ddd;
    font-size: 20px;
    padding: 5px;
}

#donate-area .donate-content input:focus,
#donate-area .donate-content input:active,
#donate-area .donate-content input:target,
#donate-area .donate-content input:focus-visible {
    border: 1px solid #000;
}

#donate-area .donate-content a {
    margin-top: 30px;

}

/* Donate Plan */
#donate-plan {
    background-color: #ddd;
}

#donate-plan .donate-plan-header {
    margin: 0 auto;
    text-align: center;
}

#donate-plan .donate-plan-items {
    display: flex;
    margin-top: 30px;
}



#donate-plan .donate-plan-items .donate-single-item {
    padding: 50px 40px;
    margin: 10px;
    text-align: center;
}

#donate-plan .donate-plan-items #donate-single-item-1 {
    background-color: #EDF5F6;
}

#donate-plan .donate-plan-items #donate-single-item-2 {
    background-color: #ffeeef;
}

#donate-plan .donate-plan-items #donate-single-item-3 {
    background-color: #FFF4D6;
}

#donate-plan .donate-plan-items .donate-single-item img {
    height: 60px;
    width: 60px;
}

#donate-plan .donate-plan-items .donate-single-item h3 {
    margin-top: 20px;
    font-size: 30px;
}

#donate-plan .donate-plan-items .donate-single-item p {
    color: #333;
}

/* Images Gallery */

/* #image-gallery {} */

#image-gallery .images-item {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

#image-gallery .images-item img {
    width: 33%;
    padding: 10px;
}

/* My Update */

#my-update {
    background-color: #EDF5F6;
}


#my-update .my-content-item {
    background-color: #FFF4D6;
    padding: 80px 200px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

#my-update .my-content-item input {
    padding: 10px;
    font-size: 20px;
    background-color: #ddd;
    border: none;
    border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -ms-border-radius: 6px 0 0 6px;
    -o-border-radius: 6px 0 0 6px;
    border-right: none;
}

#my-update .my-content-item button {
    padding: 10px;
    font-size: 20px;
    background-color: #fc5c65;
    border: none;
    border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -ms-border-radius: 0 6px 6px 0;
    -o-border-radius: 0 6px 6px 0;
    color: #fff;
}


/* Footer */
footer {
    background-color: #0B0D17;
    padding: 70px 0;
    text-align: center;
}

footer h2 {
    color: #fc5c65;
    font-size: 30px;
}

footer p {
    color: #fff;
    margin-top: 10px;
}